h2 { color: #444; font-weight: lighter; }
body { margin: 2em; }
body, input[text], button { color: #888; font-family: Cambria, Georgia; }
button { padding: 0.2em; font-size: 14px}
* { font-family: Arial; }

.gradient-1 {
    background: rgb(44,83,158);
    background: -moz-linear-gradient(45deg, rgba(44,83,158,1) 0%, rgba(138,187,215,1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(44,83,158,1) 0%,rgba(138,187,215,1) 100%);
    background: linear-gradient(45deg, rgba(44,83,158,1) 0%,rgba(138,187,215,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6e6b4', endColorstr='#ed9017',GradientType=1 );
}